@font-face {
  font-family: 'Alegreya';
  src: url('../fonts/Alegreya.ttf') format('truetype');
}

* {
  font-family: 'Alegreya';
  font-size: 24px;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  color: white;
  background-image: url('../images/background-gift.png');
  background-position: 50% 10%;
  padding: 10px 5px;
}

#root {
  height: 100%;
  display: flex;
  justify-content: center;
}

@media (min-width: 534px) {
  #root {
    align-items: center;
  }
}